<header class="header">
  <div class="container d-flex fd-row jc-space-between">
    <button class="hamburguer" (click)="showMenu()" [ngClass]="openMenu ? 'open' : ''">
      <span class="icon-hamburguer"></span>
    </button>
    <div class="container-menu d-flex" [ngClass]="openMenu ? 'open' : ''">
      <nav class="main-menu">
          <a *ngFor="let item of datosMenu" href="{{item.url}}" class="button text-link">{{item.titulo}}</a>
      </nav>
    </div>
    <picture class="logo">
      <source srcset="../../../../assets/images/logo/LogoMobile.png" class="logo-mobile" alt="Logo Homelink" media="(max-width: 960px)" title="logo" height="46" width="167">
      <source srcset="../../../../assets/images/logo/LogoDesktop.png" class="logo-desktop" alt="Logo Homelink" title="logo RI" height="51" width="188">
      <img srcset="../../../../assets/images/logo/LogoMobile.png" alt="Default logo">
    </picture>
    <div class="login">
      <a href="#" class="text-link">Login</a>
      <button class="signup">
        <span class="icon-Vector"></span>
        <a href="#">SIGNUP</a>
      </button>
    </div>
  </div>
</header>
