@import '../../assets/scss/config/variables';
@import '../../assets/scss/config/mixins';

header{
    border-bottom: 0.1rem solid #646566;
    height: 9.6rem;
    max-height: 9.8rem;
    // max-width: 185rem;
    margin: auto;
    .container{
        height: -webkit-fill-available;
        padding: 1.5rem 1.7rem;
        width: 100%;
        max-width: 184.3rem;
        &-menu{
            display: none;
            order: -1;
            background: white;
            width: 100%;
            margin-top: 3.5rem;
            min-height: 100%;
            z-index: 9;
            position: absolute;
            top: 6rem;
            left: 0;
            &.open{
                display: block;
            }
            .main-menu{
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .text-link{
                    padding: 3rem;
                    color: color(primary, dark);
                    cursor: pointer;
                    text-transform: capitalize;
                    font-weight: 500;
                    &:hover{
                        font-weight: 700;
                    }
                }
            }
        }
        .hamburguer{
            border: none;
            background: color(grayscale, white);
            font-size: 3rem;
            color: color(grayscale, gray-5);
            line-height: 2rem;
        }
        .login{
            display: flex;
            align-items: center;
            &_link{
                display: none;
            }
            &_signup{
                border: 0.1rem solid #7F7F7F;
                border-radius: 100%;
                width: 4rem;
                height: 4rem;
                background: transparent;
                .icon-Vector{
                    &::before{
                        content: "\e901";
                        font-family: iconFont;
                        font-size: 1.7rem;
                        color: #2443DD;
                    }
                }
                a{
                    display: none;
                }
            }
        }
        &_logo{
            display: flex;
            align-items: center;
            padding-left: 1.4rem;
            padding-top: 0.5rem;
        }
    }
}

@include mq-min(lg){
    header{
        .container{
            .hamburguer{
                display: none;
            }
            &-menu{
                display: block;
                position: initial;
                width: initial;
                margin: 0;
                background: initial;
                .main-menu{
                    flex-direction: row;
                    .text-link{
                        margin-top: 1.2rem;
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4),
                        &:nth-child(5){
                            padding-left: 0.7rem;
                        }
                    }
                    

                }
            }
            &_logo{
                padding-top: 1.4rem;
            }
            .login{
                &_link{
                    display: block;
                    font-size: 1.8rem;
                    margin-right: 3.4rem;
                    margin-top: 1.4rem;
                    &:hover{
                        font-weight: 700;
                    }
                }
                &_signup{
                    border: 1px solid #2443DD;
                    border-radius: 3rem;
                    width: auto;
                    height: auto;
                    padding: 0.6rem 3.5rem 0.8rem;
                    font-size: 1.8rem;
                    font-weight: 700;
                    margin-top: 0.6rem;
                    &:hover{
                        background: color(grayscale, gray-4);
                    }
                    a{
                        display: block;
                        margin-top: 0.3rem;
                        &:hover{
                            color: color(grayscale, white);
                            font-weight: 700;
                        }
                    }
                    .icon-Vector{
                        display: none;
                    }
                }
            }
        }
    }
}
@include mq-min(xxl){
    header{
        .container{
            &_logo{
                margin-right: 24%;
            }
        }
    }
}