<div class="banner-container">
    <picture class="banner-container_picture">
        <source srcset="../../../../assets/images/banners/BannerGirl-mobile.png" class="picture-banner-mobile" alt="imagen banner" media="(max-width: 720px)" title="imagen banner" height="340" width="430">
        <source srcset="../../../../assets/images/banners/BannerGirl.png" class="picture-banner-desktop" alt="imagen banner" title="imagen banner" height="700" width="886">
        <img srcset="../../../../assets/images/banners/BannerGirl-mobile.png" alt="Default imagen banner">
    </picture>
    <div class="banner-container_info">
        <div class="banner-left">
            <img src="../../../../assets/images/vectors/tree.png" alt="Árbol banner" class="tree" height="313" width="285">
            <div class="title-banner">
                <img src="../../../../assets/images/vectors/maps.png" alt="Mapa banner" class="map" height="97" width="149">
                <h1>Helping you find temporary housing that feels like home, <span>quickly & easily</span></h1>
            </div>
        </div>
        <div class="buttons">
            <p class="text-banner">Our team of specialized temporary housing experts will do whatever it takes, whenever you need it, to get you into
                accommodations that fit your family, fast - without compromising comfort or quality. We work directly with your
                Insurance Carrier to help restore balance until you return home.
            </p>
            <div class="buttons_cta">
                <button class="btn btn-primary">Let’s Get Started</button>
                <button class="btn btn-secondary">Contact Us</button>
            </div>
        </div>
    </div>
</div>
