<div class="articles">
    <div class="articles_container">
        <div class="articles_container_picture">
            <picture class="house">
                <source srcset="../../../../assets/images/vectors/house-mobile.png" class="picture-article-mobile" alt="imagen article" media="(max-width: 720px)" title="imagen article" height="159" width="296">
                <source srcset="../../../../assets/images/vectors/house.png" class="picture-article-desktop" alt="imagen article" title="imagen article" height="405" width="755">
                <img srcset="../../../../assets/images/vectors/house.png" alt="Default imagen article">
            </picture>
            <h2 class="title">Helping you find temporary housing that feels like home, <span>quickly & easily</span></h2>
        </div>
        <div class="articles_container_info">
            <div class="paragraph">
                <p class="articles_text">
                    Whenever and wherever an emergency happens, Homelink is here to help you land in a temporary home away from home. We coordinate
                    directly with your Insurance company on your claim, working fast to find the right emergency, short-term or
                    long-term relocation accommodations that fit your family. We’ll work with you to understand what you need in 
                    your moment of urgency, helping you put the pieces together until you can return home.
                </p>
                <p class="articles_text">
                    We know there is no ‘one-solution-fits-all’ because there is no family quite like yours. Our team works hard to
                    find the right home away from home that fits uniquely to you. We move quickly, guided by compassion and 
                    anchored in agility. At Homelink, we don’t rest until you and your family can, in a temporary place to call your 
                    own.
                </p>
            </div>
            <div class="buttons_cta">
                <button class="btn btn-primary">Explore Housing</button>
                <button class="btn btn-secondary">Request Housing</button>
            </div>
        </div>
    </div>
</div>
