// ==========================================================================
// FontStack
// ==========================================================================

$font-size         : 1.6rem;
$font-primary      : 'Proxima Nova', sans-serif;
$font-icon         : 'iconFont';

// ==========================================================================
// COLORS : Eje.: background: color( primary, light );
// ==========================================================================

$colors: (
   primary: (
      base     : #F2F2F2,
      dark     : #646566,
      one      : #75D827,
      two      : #2443DD
   ),
   secondary: (
      base     : #212D4D,
      dark     : #3A3A3A,
      one      : #53B5F8,
      two      : #6DEAFB
   ),
   alerts: (
      sucess   : #28A745,
      error    : #DC3545,
      warning  : #FFC100,
      info     : #0074FC
   ),
   controls:(
      base     : #0074FC,
      dark     : #0056B3,
   ),
   grayscale: (
      white    : #ffffff,
      gray-1   : #f2f2f2, 
      gray-2   : #eeeeee,
      gray-3   : #cccccc,
      gray-4   : #999999,
      gray-5   : #7f7f7f,
      gray-6   : #333333,
      gray-7   : #4A4A4A,
      base     : #1b1b1b,
      black    : #000000
   ),
   border:(
      color-1  : #ced4da,
      color-2  : #999999
   )
);

// ==========================================================================
// SPACING : Eje.: padding: map-get($sizes, "tiny");
// ==========================================================================

$sizes: (
   tiny   : 1.2rem,  // 12px
   small  : 1.4rem,  // 14px
   base   : 1.6rem,  // 16px
   thumb  : 1.5rem,  // 15px
   half   : 2.4rem,  // 24px
   medium : 3.6rem,  // 36px
   slarge : 4.38rem, // 43px
   large  : 4.8rem,  // 48px
   xlarge : 5.6rem,  // 56px
   huge   : 6.4rem   // 64px
);

// ==========================================================================
// Breakpoints
// ==========================================================================

$breakpoints: (
   sm  : 540px,
   md  : 720px,
   lg  : 960px,
   xl  : 1140px,
   xxl : 1440px
);

// ==========================================================================
// Alignment
// ==========================================================================

$alignment: left, center, right, justify;
